<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Iniciar Sesión</title>
    <link th:href="@{/css/styles.css}" rel="stylesheet" type="text/css">
</head>
<body>
<header>
    <h1>Iniciar Sesión</h1>
    <a th:href="@{/home}">Inicio</a>
</header>

<section>
    <h2>Acceder a tu cuenta</h2>
    <form th:action="@{/auth/login}" method="post" th:object="${usuario}">

        <div class="form-group">
            <label for="nombreUsuario">Usuario</label>
            <input type="text" id="nombreUsuario" th:field="*{nombreUsuario}" placeholder="Usuario" required />
        </div>

        <div class="form-group">
            <label for="password">Contraseña</label>
            <input type="password" id="password" th:field="*{password}" placeholder="Contraseña" required />
        </div>

        <div class="form-group">
            <button type="submit">Iniciar Sesión</button>
        </div>
    </form>
</section>

<div class="footer-content">
    <p>© 2025 Todos los derechos reservados</p>
    <p>Creado por <strong>Jorge Sobrino</strong></p>
</div>
</body>
</html>
