<div class="card-body">
<form (ngSubmit)="onSubmit()" class="mt-5">

    <h3 class="text-center">Registrar Usuario</h3>

  <div class="form-group mb-3">
    <label for="nombreUsuario" class="form-label">Nombre Usuario*</label>
    <input type="text" class="form-control" id="nombreUsuario" required name="nombreUsuario">
  </div>
  <div class="form-group mb-3">
    <label for="contrasena" class="form-label">Contraseña*</label>
    <input type="password" class="form-control" id="contrasena" required  name="contrasena">
  </div>
  <div class="form-group mb-3">
    <label for="email" class="form-label">Email*</label>
    <input type="email" class="form-control" id="email" required  name="email">
  </div>
  <div class="form-group mb-3">
    <label for="nombreCompleto" class="form-label">Nombre Completo</label>
    <input type="text" class="form-control" id="nombreCompleto" name="nombreCompleto">
  </div>
  <button type="button" class="btn btn-primary">Registrarme</button>

</form>
</div>

