<nav class="navbar navbar-expand-lg bg-body-tertiary">
  <div class="container-fluid">
    <a href="#" class="navbar-brand" routerLink="/home">
      <img src="10.jpg" width="10%" alt="Logo">
    </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" 
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link" routerLink="/torneos">Torneos</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/equipos">Equipos</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/jugadores">Jugadores</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/balonOro">Balones de Oro</a>
        </li>
      </ul>
      <!-- Mostrar el botón de Cerrar sesión solo si el usuario está autenticado -->
      <ul class="navbar-nav ms-auto">
        <li class="nav-item" *ngIf="isAuthenticated">
          <button class="btn btn-cerrar-sesion" (click)="cerrarSesion()">Cerrar sesión</button>
        </li>
      </ul>
    </div>
  </div>
</nav>

