<nav class="navbar navbar-expand-lg bg-body-tertiary">
  <div class="container-fluid">
    <a href="#" class="navbar-brand" routerLink="/home">
      <img src="10.jpg" width="10%" alt="Logo">
    </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" 
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link" routerLink="/torneos">Torneos</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/equipos">Equipos</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/jugadores">Jugadores</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/balonOro">Balones de Oro</a>
        </li>
      </ul>

      <ul class="navbar-nav ms-auto">
        <li class="nav-item" *ngIf="isAuthenticated">
          <div class="d-flex align-items-center justify-content-between" style="width: auto;">
            
            <!-- Contenedor del usuario con nombre debajo -->
            <div class="d-flex flex-column align-items-center">
              <!-- Imagen de usuario -->
              <img src="/ico.png" alt="Ícono de usuario" class="icono mb-2">
              <!-- Nombre de usuario (se mostrará solo al pasar el ratón) -->
              <span class="text-white">{{ username }}</span>
            </div>
      
            <!-- Botón de Cerrar sesión (también con texto visible solo al pasar el ratón) -->
            <button class="btn-cerrar-sesion ms-3" (click)="cerrarSesion()">
              <img src="/c.png" alt="Cerrar sesión" class="icono mb-2">
              <span class="text-white">Cerrar sesión</span>
            </button>
          </div>
        </li>
      </ul>
      
      
      
      
      
    </div>
  </div>
</nav>
