/* Contenedor principal para jugadores */
.jugadores {
    display: flex;
    flex-wrap: wrap;
    justify-content: center; /* Centra los jugadores horizontalmente */
    gap: 20px; /* Espacio entre los jugadores */
    padding: 20px;
    background-color: #f8f9fa; /* Color de fondo */
}

/* Estilo de cada jugador */
.jugador {
    background-color: #ffffff;
    border-radius: 15px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.15);
    padding: 1rem;
    margin: 1rem;
    width: 250px;
    transition: all 0.3s ease-in-out;
    text-align: center;
}

/* Efecto al pasar el ratón sobre el jugador */
.jugador:hover {
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.2);
    transform: translateY(-8px);
}

/* Estilo de la imagen del jugador */
.jugador img.escudo-equipo {
    width: 90px !important; /* Aumentar el tamaño */
    height: 90px !important;
    object-fit: cover;
    margin: 20px auto 0;
    display: block;
}

/* Título y detalles */
.jugador h4,
.jugador h6 {
    font-size: 1.4rem;
    font-weight: bold;
    color: #333;
    margin-bottom: 0.5rem;
}

/* Descripción de la posición */
.jugador p {
    font-size: 0.8rem;
    color: #666;
    margin-bottom: 1rem;
}
