.jugadores {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.jugador {
    background-color: #f0f0f0;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    padding: 1rem;
    margin: 1rem;
    width: 250px;
}

.jugador img.escudo-equipo {
    width: 60px !important;
    height: 60px !important;
}


.jugador h4 {
    font-weight: bold;
    margin-bottom: 0.5rem;
}

.jugador h6 {
    color: #666;
    margin-bottom: 1rem;
}

.jugador p {
    font-size: 0.8rem;
    color: #666;
}

.jugador a {
    background-color: #ffc107;
    color: white;
    padding: 0.5rem 1rem;
    border-radius: 5px;
    text-decoration: none;
    transition: background-color 0.3s ease;
}

.jugador a:hover {
    background-color: #ff9900;
}
.pagina {
    margin: 0 auto;
    padding: 10px;
    padding-left: 110px;
}
