<div class="pagina">
    <div class="jugadores">
      <div class="col" *ngFor="let jugador of jugadores">
        <div class="jugador">
          <div class="info">
            <img [src]="jugador.equipoEscudoURL" alt="Escudo Equipo" class="escudo-equipo">
            <h4 class="nombre">{{ jugador.nombre }}</h4>
            <h6 class="edad">{{ jugador.edad }} años</h6>
            <p class="posicion">Posición: {{ jugador.posicion }}</p>
          </div>
        </div>
      </div>
    </div>
  </div>
  