<div class="equipos-header">
    <h2 class="titulo">Comprueba los Equipos</h2>
    <p class="subtitulo">Descubre todos los equipos disponibles en nuestra Base de Datos</p>
</div>

<div class="container mt-4">
    <div class="row row-cols-1 row-cols-md-4 g-4">
        <div class="col" *ngFor="let equipo of equipos">
            <div class="card">
                <img [src]="equipo.escudoURL" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">{{equipo.nombre}}</h5>
                </div>
            </div>
        </div>
    </div>
</div>
